@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: theme('colors.warm.bg');
  color: theme('colors.warm.text');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
